*{
    margin: 0;
    padding: 0;
}

.topo{
    background-color: #229B77;
    height: 175px;
    padding-top: 25px; 
}

.logo{
    background-color: #229B77;
    height: 150px;
    width: 300px;
    margin-left: 50px;
    float: left;
}

.menu{
    background-color: #229B77;
    height: 50px;
    width: 860px;
    margin-left: 400px;
    float: right;
    margin: 50px 50px 0 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 37.5px;
    padding-top: 12.5px;
    background-color: #229B77;
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "verdana";
    color: white;
}

.menu ul li a.active{
    font-weight: bold;
}

.menu ul li a:hover{
    font-weight: bold;
}

.caixa{
    background-color: white;
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
}

.rodape{
    background-color: #229B77;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    font-size: 20px;
    font-family: "verdana";
    color: white;
}

.titulo{
    font-size: 50px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
    margin: 100px 0 70px 0;
}

.titulo2{
    font-size: 50px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
    margin: 0 0 70px 0;
}

.tituloAux{
    font-size: 50px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
    margin: -70px 0 70px 0;
}

.formulario{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
}

.caixinha{
    width: 400px;
    height: 25px;
    border-radius: 7px;
}

.botaoLogin{
    float: right;
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #229B77;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
}

.botaoLimpar{
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #229B77;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
}

.botaoLista{
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(199, 20, 20);
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.botaoVol{
    float: right;
    width: 150px;
    height: 35px;
    border-radius: 7px;
    background-color: #229B77;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
}

.botaoExcluir{
    float: right;
    width: 70px;
    height: 18px;
    border-radius: 7px;
    background-color:rgb(199, 20, 20);
    font-size: 12px;
    font-family: Cambria;
    color: white;
}

.cadLink{
    font-size: 18px;
    font-family: Cambria;
}

.ong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
}

.textoOng{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    width: 550px;
    text-align: justify;
}

.textoPadrao{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    width: 700px;
    text-align: justify;
}

.destaque{
    background-color: #229B77;
    width: 400px;
    height: 50px;
    margin-top: -5px;
}

.destaque2{
    background-color: #229B77;
    float: left;
    width: 50px;
    height: 450px;
    margin-top: 40px;
}

.destaque3{
    background-color: #229B77;
    width: 400px;
    height: 50px;
    margin-top: -5px;
    margin-left: 100px;
}

.destaque4{
    background-color: #229B77;
    width: 50px;
    height: 400px;
    margin-top: 62px;
    float: right;
}

.destaque5{
    background-color: #229B77;
    width: 50px;
    height: 470px;
    margin-top: 70px;
    float: right;
}

.destaque6{
    background-color: #229B77;
    width: 380px;
    height: 50px;
    margin-top: -5px;
}

.destaque7{
    background-color: #229B77;
    float: left;
    width: 50px;
    height: 500px;
    margin-top: 60px;
}

.linha{
    background-color: #229B77;
    width: 120px;
    height: 15px;
    margin: 0 auto;
}

.pix{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoPix{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    width: 700px;
    text-align: center;
}

#formUsuario{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
}

#usuarioList{
    margin-top: 50px;
    width: 650px;
    list-style-type: none;    
}

#usuarioList li{
    margin-top: 10px;
    font-family: Cambria;
}

#pesquisa{
    width: 300px;
    height: 32px;
    border-radius: 7px;
    margin-top: 100px;
}

.botaoPesquisa{
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #229B77;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
}
