*{
    margin: 0;
    padding: 0;
}

.topo{
    background-color: #229B77;
    height: 175px;
    padding-top: 25px; 
}

.logo{
    background-color: #229B77;
    height: 150px;
    width: 300px;
    margin-left: 50px;
    float: left;
}

.menu{
    background-color: #229B77;
    height: 50px;
    width: 572px;
    margin-left: 400px;
    float: right;
    margin: 50px 90px 0 0;
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    display: inline-block;
    text-align: center;
    width: 140px;
    height: 37.5px;
    padding-top: 12.5px;
    background-color: #229B77;
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: "verdana";
    color: white;
}

.menu ul li a.active{
    font-weight: bold;
}

.menu ul li a:hover{
    font-weight: bold;
}

.caixaPrincipal{
    background-color: white;
    height: 650px;
}

.caixa{
    background-color: white;
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
}

.rodape{
    background-color: #229B77;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape p{
    font-size: 20px;
    font-family: "verdana";
    color: white;
}

.titulo{
    font-size: 50px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    text-align: center;
    font-weight: bold;
    margin: 100px 0 70px 0;
}

.formulario{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
}

.caixinha{
    width: 400px;
    height: 25px;
    border-radius: 7px;
}

.botaoLogin{
    float: right;
    width: 120px;
    height: 35px;
    border-radius: 7px;
    background-color: #229B77;
    font-size: 18px;
    font-family: Cambria;
    font-weight: bold;
    color: white;
}

.cadLink{
    font-size: 18px;
    font-family: Cambria;
}

.ong{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
}

.textoOng{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    width: 550px;
}

.textoPadrao{
    font-size: 20px;
    font-family: Cambria;
    color: rgb(82, 82, 82);
    width: 700px;
    text-align: center;
}